
*.pyc
.ipynb_checkpoints/*
doc/.ipynb_checkpoints/*
*.mat
*.pic
*.gz
*.npz
*.root
*.log
*.pdf
*.eps
*.pdf
*.tex
*.C
*.bak
*.out
cmt/boost_test.cxx.o
MoreFilesForYou-*
.asetup.save
build
.python-version
orchestra-env
.orchestra-env
.venv
# vscode
./.vscode/*
.pytest_cache



# server
servers/schedule/api
servers/pilot/api
servers/mailing/api
servers/executor/api
servers/*/models.py
servers/*/enumerations.py
